footer {
    /*border: solid red 2px;*/
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 1%;
}

.logoBigode {
    background-color: transparent;
}

#logoDoBigode {
    background-color: transparent;
    opacity: 75%;
}

.blocoRodaPe {
    background-color: transparent;
}

#fraseRodaPe {
    font-size: 14px;
}

#paragrafoRodaPe {
    background-color: transparent;
}

#iconesSocialMedia {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}

.backgroundT {
    background-color: transparent;
    margin-top: 3%;
}

#paragrafoC {
    text-align: center;
    margin-bottom: 3%;
}